@charset "UTF-8";

@media screen and (max-width:1450px) {

    #intro .intro-box {
        /* height 800px->700px 변경 */
        position: absolute;
        background: #f4f4f4;
        width: 100%;
        height: 700px;
        transform: skewY(165deg);
        top: -330px;
        overflow: hidden;
    }
    
    #intro .intro-box img {
        /* left 450px->300px 변경
        top 385px->350px 변경
        width 470px->400px 변경
        height 470px->400px 변경 */
        position: absolute;
        left: 300px;
        top: 350px;
        width: 400px;
        height: 400px;
        transform: skewY(-165deg);
    }

}

@media screen and (max-width:1350px) {
    
    #intro .intro-box img {
        /* top 350px->400px 변경
        width 400px->350px 변경
        height 400px->350px 변경 */
        position: absolute;
        left: 300px;
        top: 400px;
        width: 350px;
        height: 350px;
        transform: skewY(-165deg);
    }
}

@media screen and (max-width:1135px) {

    /* 첫번째 박스 */

    #intro .intro-box {
        /* height 800px->700px 변경
        display : none 설정 */
        position: absolute;
        background: #f4f4f4;
        width: 100%;
        height: auto;
        transform: skewY(165deg);
        top: -330px;
        overflow: hidden;
        display: none;
    }

    #intro .tex-box1 {
        /* transform : translate(-50%, -50%) 설정
        top 40%->50% 변경
        text-align : center 설정 */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    #intro .tex-box1::before {
        /* transform : translate(-50%, -50%) 설정
        right->left 0->50% 변경 */
        content: '';
        width: 50px;
        height: 5px;
        background: #000;
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translate(-50%, -50%);
    }
    
    #intro .tex-box1 .main_1 {
        /* font-size 60px->40px 변경
        text-align right->center 변경 */
        font-size: 40px;
        color: #e9cfff;
        text-align: center;
    }
    
    #intro .tex-box1 .sub_1 {
        /* font-size 90px->70px 변경
        text-align right->center 변경 */
        font-size: 70px;
        text-align: center;
    }
    
    #intro .tex-box1 .maintxt_1 {
        /* text-align right->center 변경 */
        padding-top: 30px;
        font-size: 16px;
        text-align: center;
    }
    
    #intro .tex-box1 .subtxt_1 {
        /* text-align right->center 변경 */
        padding-top: 15px;
        font-size: 13px;
        text-align: center;
    }

    /* 두번째 박스 */

    #about {
        /* height 100vh->150vh 변경 */
        width: 100%;
        /* height: 150vh; */
        overflow: hidden;
        position: relative;
    }
    
    #about .tex-box2 .box1 {
        /* float center->none 변경
        padding 왼쪽 정렬 30px->60px 변경 */
        float: none;
        padding: 0 0 0 60px;
        width: 50%;
    }
    
    #about .tex-box2 .box1 .ab {
        /* font-size 70px->40px 변경 */
        font-size: 40px;
        font-weight: bold;
        color: #e9cfff;
        position: relative;
    }
    
    #about .tex-box2 .box1 .abme-txt {
        /* padding-top 70px->40px 변경 */
        padding-top: 40px;
        color: #222;
    }
    
    #about .tex-box2 .box1 .abme-txt .hi {
        /* font-size 30px->16px 변경 */
        font-size: 16px;
        font-weight: bold;
    }
    
    #about .tex-box2 .box1 .abme-txt strong {
        /* font-size 20px->16px 변경 */
        color: #e9cfff;;
        font-size: 16px;
        padding-bottom: 20px;
        letter-spacing: 4px;
    }
    
    #about .tex-box2 .box1 .abme-txt p {
        /* font-size 17px->14px 변경 */
        font-size: 14px;
        padding: 20px 0 0 0;
        letter-spacing: -1px;
    }
    
    #about .tex-box2 .box2 {
        /* float left->none 변경
        width 50%->90% 변경
        padding 왼쪽 정렬 60px 추가 */
        float: none;
        width: 90%;
        padding: 0 0 0 60px;
    }
    
    #about .tex-box2 .box2 .edu {
        /* float left->none 변경
        padding-right 30px->none 변경 */
        float: none;
        padding-right: none;
    }
    
    #about .tex-box2 .box2 .lic {
        /* float left->none 변경 */
        float: none;
    }
    
    #about .tex-box2 .box2 h3 {
        /* font-size 30px->20px 변경 */
        font-size: 20px;
        padding: 25px 0 25px 0;
    }
    
    #about .tex-box2 .box2 p {
        /* font-size 16px->14px 변경 */
        font-size: 14px;
        padding: 5px 0 5px 0;
    }
    
    #about .tex-box2 .box2 span {
        /* font-size 15px->14px 변경 */
        font-size: 14px;
        color: #d9affc;
    }
    
    /* 세번째 박스 */

    #web {
        /* height 100vh->130vh 변경 */
        width: 100%;
        /* height: 130vh; */
        overflow: hidden;
        position: relative;
    }

    #web .tex-box3 .box3 .ab {
        /* font-size 70px->40px 변경 */
        font-size: 40px;
        font-weight: bold;
        color: #e9cfff;
        position: relative;
    }

    #web .tex-box3 .box3 h3 {
        /* font-size 22px->20px 변경 */
        font-size: 20px;
        padding-bottom: 15px;
    }

    #web .tex-box3 .box3 p {
        /* font-size 15px->14px 변경 */
        letter-spacing: -1px;
        color: #666666;
        font-size: 14px;
        position: relative;
        z-index: 99999;
    }

    #web .tex-box3 .box3 .color-box {
        /* width 1200px->574px 변경
        background-image 변경 */
        width: 574px;
        height: 300px;
        margin-top: -40px;
        background-image: url(../image/gongcha_ipad2.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

    #web .tex-box3 .box3 .gong-main {
        /* float left->none 변경 */
        float: none;
        padding: 20px 100px 0 0;
    }

    #web .tex-box3 .box3 .gong-sub {
        /* float left->none 변경 */
        float: none;
        padding: 20px 100px 0 0;
    }

    #web .tex-box3 .box3 .gong-sub-last {
        /* float left->none 변경 */
        float: none;
        padding-top: 20px;
    }

    /* 네번째 박스 */

    #photo {
        /* height 100vh->130vh 변경 */
        width: 100%;
        /* height: 130vh; */
        overflow: hidden;
        position: relative;
    }

    #photo .tex-box4 .box4 {
        /* float left->none 변경 */
        float: none;
        padding-right: 290px;
        width: 50%;
    }

    #photo .tex-box4 .box4 .ab {
        /* font-size 70px->40px 변경 */
        font-size: 40px;
        font-weight: bold;
        color: #e9cfff;
        position: relative;
    }

    #photo .tex-box4 .image-box {
        /* width 50%->100% 변경
        float left->none 변경
        padding-top : 100px 설정 */
        width: 100%;
        float: none;
        padding: 100px 0;
    }

    #photo .tex-box4 .image-main {
        /* float left->none 변경
        margin-top -135px->50px 변경 */
        width: 100%;
        float: left;
        margin-top: 50px;
    }

    /* 다섯번째 박스 */

    #cont {
        /* height 100vh->130vh 변경
        flex-flow column->nowrap 변경 */
        width: 100%;
        /* height: 130vh; */
        overflow: hidden;
        position: relative;
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
    }

    #cont .tex-box5 .box5 {
        /* float left->none 변경 
        padding 60px->0 변경 */
        float: none;
        padding: 0 0 0 60px;
    }

    #cont .tex-box5 .box5 .ab {
        /* font-size 70px->40px 변경 */
        font-size: 40px;
        font-weight: bold;
        color: #e9cfff;
        position: relative;
    }

    #cont .form-box {
        /* padding-left 170px->padding 60px 0 0 60px 변경
        float left->none 변경 */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 0 0 60px;
        float: none;
    }

    #cont .mas {
        /* top 430px->740px 변경 */
        position: absolute;
        top: 740px;
        left: 60px;
    }

}